# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# LINUX
# =========================

*.pid
*.out

# =========================
# EDITOR FILES
# =========================

.vscode/
.idea/
*.swp
*.swo

# =========================
# LOG FILES
# =========================

*.log

# =========================
# VOIDFUZZER OUTPUT FILES
# =========================

filtered_urls.txt
nuclei_results.txt

# =========================
# TEMP FILES
# =========================

tmp/
temp/
*.tmp

# =========================
# ENV FILES
# =========================

.env

# =========================
# CACHE
# =========================

.cache/
